@use "sass:math";

/*
  Header
-----------------------------------------------------*/
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;

  @include mq(desk) {
    width: 224px;
    height: 100%;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    margin: 8px 0 2px 0;

    @include mq(desk) {
      padding-left: 0;
      display: block;
      margin: 0;
    }
  }
}