@use "sass:math";

/*
contact
*/
.p-contact {
  color: $color-white;
  background-color: $color-black;
  padding: 2rem 0;
  position: relative;

  @include mq(tab) {
    padding: 2rem 0;
    display: flex;
    justify-content: flex-start;
  }
  .l-container{
    @include mq(tab) {
      margin: 0 auto ;
    }
  }


  &__wrap {
    display: block;
    text-align: center;

    @include mq(tab) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }
  }

  &__text {
    margin-bottom: 2rem;
    font-size: 0.964288rem;
    letter-spacing: -0.5px;

    @include mq(tab) {
      margin-bottom: 0;
      width: 100%;
      font-size: 1.14286rem;
    }
  }

  &__description {
    margin: 1rem 0 2rem;

    @include mq(lap) {
      margin: 2rem 0 4rem;
    }

    a {
      display: block;
      color: $accent-color;
      margin-top: 1rem;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__rentalWrap {
    margin-top: 2rem;

    @include mq(lap) {
      margin-top: 4rem;
    }
  }

  &.single-buy {
    // padding: 3rem 0 11rem;

    @include mq(tab) {
      // padding: 3rem 0;
    }
  }

}

.p-contact-note{
  background-color: #353535;
  padding: 2rem 0;
  @include mq(tab) {
    padding: 2rem 0;
    display: flex;
    justify-content: flex-start;
  }
  
  .l-container{
    margin: 0 auto;
    @include mq(tab) {
      margin: 0 auto ;
    }
  }
  .p-contact__wrap--tokusyouhou {
    display: block;
    text-align: left;
  }

  .p-contact__text--tokusyouhou {
    font-size: 12px;
    color: #fff;
  }

  .c-tokusyouhou__link {
    font-size: 12px;
    color: #fff;
    border: #fff;
  }
}