@use "sass:math";
/*
  single
*/

.p-single {
  &__cona {
    color: red;
  }

  &__title {
    font-size: 1.42857rem;
    font-weight: 700;

    @include mq(lap) {
      font-size: 1.42857rem;
    }

    @include mq(l-lap) {
      font-size:1.714288rem;
    }
  }

  &__cat {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0 1.25rem;

    @include mq(lap) {
      margin: 0.5rem 0 1.5rem;
    }
  }

  &__catItem {
    font-size: 0.86rem;
    color: $color-gray;
    background-color: #f0f0f0;
    padding: 3px 12px;
    margin-top: 0.5rem;

    &:not(:last-child) {
      margin-right: 0.75rem;
    }

    a {
      color: $primary-text-color;
      display: inline-block;
      text-decoration: none;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__content {
    margin-bottom: 3rem;

    @include mq(lap) {
      margin-bottom: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-image {
      position: relative;
      margin-bottom: 1.25rem;

      @include mq(lap) {
        width: 50%;
      }
    }

    &-detail {
      @include mq(lap) {
        width: 50%;
        padding: 0 1rem;
      }

      @include mq(l-lap) {
        width: 50%;
        padding: 0 2.5rem;
      }
    }

    .maker {
      font-size: 1rem;;
      margin-bottom: -3px;

      @include mq(lap) {
        margin-bottom: -5px;
      font-size: 1.285711rem;
      }
    }

    .price-wrap {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      margin-top: 0.75rem; 
      font-size: 1rem;

      @include mq(lap) {
        margin-top: 1.5rem;
      }

      .price {
        &.-cam {
          padding-left: 30px;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            left: 10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 0 8px 13.9px;
            border-color: transparent transparent transparent $accent-color;
          }
        }
      }
    }

    .price {
      &.-cam {
        color: $accent-color;
      }

      .cat {
        line-height: 1.25;

        &-text {
          display: block;
          font-size: 0.86rem;
        }

        em {
          font-weight: 700;
          font-size:1.714288rem;

          @include mq(lap) {
            font-size:1.714288rem;
          }

          @include mq(l-lap) {
            font-size: 2.5rem;
          }
        }

        .yen {
          font-size: 0.86rem;
          font-weight: 700;

          @include mq(lap) {
            font-size: 1.25rem;
          }
        }
      }
    }

    .free {
      color: $color-red;
      padding: 10px 0 15px;
      font-size: 1rem;
    }

    .link-wrap {
      margin-top: 2rem;

      @include mq(lap) {
        margin-top: 1rem;
      }

      @include mq(l-lap) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .print {
        display: none;

        @include mq(lap) {
          display: inline-block;
          color: #3ba4ff;
          padding-left: 1.75rem;
          text-decoration: none;
          position: relative;

          &:hover {
            opacity: 0.5;
          }

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;
            background: url(../../assets/images/under/print-icon.svg) no-repeat;
            width: 23px;
            height: 23px;
            background-size: contain;
          }
        }
      }
    }

    .sns {
      &-wrap {
        margin-top: 1rem;

        @include mq(lap) {
          margin-top: 0.5rem;
        }

        @include mq(l-lap) {
          display: flex;
          align-items: center;
          margin-top: 0;
        }
        p{
          font-size: 1rem;
        }
      }

      &-list {
        display: flex;
        margin-top: 0.5rem;

        @include mq(l-lap) {
          margin-top: 0;
          margin-left: 0.5rem;
        }

        a {
          display: block;

          &:hover {
            opacity: 0.5;
          }
        }
      }

      &-list__item {
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 0.5rem;
        }
      }
    }

    .effect {
      font-weight: 700;
      letter-spacing: 0.1rem;
      font-size: 0.86rem;
      padding: 3px 1.25rem;
      margin: 1rem 0;
      display: inline-block;

      @include mq(lap) {
        margin: 0 0 1rem 0;
        padding: 3px 1.5rem;
        font-size: 1rem;;
      }

      &.-new {
        color: $color-white;
        background-color: $color-red;
        font-family: $font-set-en;
      }

      &.-oppo {
        color: $color-white;
        background-color: #3e3a39;
      }

      &.-sould {
        color: $color-white;
        background-color: #3e3a39;
      }
    }
    .swiper-button__container {
      bottom: -1rem;
    }
    .swiper-pagination {
      @include mq(lap) {
        left: 58%;
      }
    }
  
  }

  &__itemDesc {
    background-color: $base-color;
    padding: 1.5rem 0;

    @include mq(lap) {
      padding: 2.5rem 0;
    }

    &-list {
      display: inline-flex;
      align-items: center;
      margin-bottom: 1rem;
      font-weight: 700;

      @include mq(lap) {
        margin-bottom: 2rem;
      }

      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 1rem;
        width: 1px;
        background-color: $primary-text-color;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &-item {
      display: inline-block;

      a {
        display: block;
        color: $primary-text-color;
        text-decoration: none;
      }

      &:first-child {
        margin-right: 2rem;
      }
    }

    &-boxA {
      dl {
        margin-top: 1.25rem;

        @include mq(lap) {
          margin-top: 2rem;
        }

        dt {
          @include mq(lap) {
            font-size: 1.14286rem;
          }
        }

        dd {
          margin-top: 3px;

          @include mq(lap) {
            margin-top: 3px;
          }
        }
      }

      .rank {
        dt {
          margin-bottom: -0.5rem;
        }

        ul {
          li {
            display: inline-block;
            margin-top: 1rem;
            position: relative;
            color: #eaeaea;
            padding-left: 2rem;

            @include mq(lap) {
              padding-left: 2.25rem;
            }

            &::before,
            &::after {
              content: "";    
              position: absolute;
              top: 5px;
              font-family: $font-set-en;
              @include mq(lap) {
                top: -1px;
              }
            }

            &::before {
              left: 0;
              width: 1.714288rem;
              height: 1.714288rem;
              background-color: #eaeaea;

              @include mq(lap) {
                width: 2rem;
                height: 2rem;
              }
            }

            &::after {
              color: $color-white;
              left: 8px;
              line-height: 1.7;

              @include mq(lap) {
                left: 9px;
                line-height: 1.4;
                font-size: 1.285715rem;
              }
            }

            &:nth-of-type(1) {
              &::after {
                content: "S";
              }
            }

            &:nth-of-type(2) {
              &::after {
                content: "A";
              }
            }

            &:nth-of-type(3) {
              &::after {
                content: "B";
              }
            }

            &:nth-of-type(4) {
              &::after {
                content: "C";
              }
            }

            &:nth-of-type(5) {
              &::after {
                content: "D";
              }
            }

            &:nth-of-type(6) {
              &::after {
                content: "E";
              }
            }

            &.is-select {
              color: $accent-color;

              &::before {
                background-color: $accent-color;
              }
            }

            &:not(:last-child) {
              @include mq(lap) {
                margin-right: 2rem;
              }
            }
          }
        }
      }
    }

    &-boxB {
      @include mq(lap) {}

      dl {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
        margin-top: 1rem;
        border-bottom: 1px solid #ddd;

        @include mq(lap) {
          padding-bottom: 1.125rem;
          margin-top: 1.125rem;
        }

        dt {
          width: 35%;
          font-weight: 700;
          margin-right: 1rem;
        }

        dd {
          width: 60%;

          a {
            color: #1591fc;
          }
        }
      }
    }

    &-inner {
      margin-top: 0.5rem;

      @include mq(lap) {
        margin-top: 1rem;
      }

      &.-detail {
        @include mq(lap) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 0 1.5rem;
        }

        @include mq(l-lap) {
          gap: 0 4rem;
        }

        // & > * {
        //   @include mq(lap) {
        //     width: 47%;
        //   }
        // }
      }

      .description {
        ul {
          margin-top: 20px;
          color: #333;

          @include mq(tab) {
            margin-top: 30px;
          }

          li {
            position: relative;
            margin-top: 8px;
            padding-left: 1em;
            color: #333;

            &:first-child {
              margin-top: 0;
            }

            &:before {
              @include icoPosition();
              top: 8px;
              left: 0;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background: $primary-text-color;

              @include mq(tab) {
                top: 10px;
              }
            }
          }
        }

        ol {
          counter-reset: no;
          color: $primary-text-color;
          margin-top: 20px;

          @include mq(tab) {
            margin-top: 30px;
          }

          li {
            color: $primary-text-color;
            position: relative;
            margin-top: 8px;
            padding-left: 1.9em;

            &:first-child {
              margin-top: 0;
            }

            &:before {
              color: $accent-color;
              counter-increment: no;
              content: "0" counter(no) ".";
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }

        a {
          text-decoration: underline;
          transition: all 0.3s;
          color: $accent-color;
          font-weight: 700;

          &:hover {
            opacity: 0.6;
          }

          &[target="_blank"] {
            &:after {
              @include icoInline();
              width: 15px;
              height: 15px;
              margin: 0 7px;
              background: url(../../assets/images/common/i_blank_bk.svg) no-repeat;

              background-size: 15px;
            }
          }
        }

        img {
          display: block;
          height: auto;

          &.size-thumbnail {
            width: 375px;

            @include mq(tab) {
              width: 100%;
            }
          }

          &.size-medium {
            width: 375px;

            @include mq(tab) {
              width: 100%;
            }
          }

          &.size-full {
            width: 100%;
          }
        }
      }
    }

    .l-contents__box:nth-of-type(2) {
      margin-top: 2rem;

      @include mq(lap) {
        margin-top: 3.5rem;
      }
    }
    
    .l-contents__box {
      padding: 1.3rem 1.5rem 1.7rem;  
      font-size: 1rem;

      @include mq(lap) {
        padding: 2.5rem 3rem;
      }
      @include mq(desk) {
        font-size: 1.14286rem;
        padding: 2.5rem 3rem;
      }
    }
  }

  &__butonContent {     
    padding-top: 0;

    @include mq(lap) {        
      padding-top: 0;
    }

    .button {
      color: $accent-color;
      margin-top: 1rem;
      display: block;
      padding-left: 1rem;
      position: relative;

      @include mq(lap) {
        margin-top: 1rem;
      }

      &::before {
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        display: inline-block;
        border-top: 1px solid $accent-color;
        border-right: 1px solid $accent-color;
        transform: rotate(-135deg);
        top: 0;
        bottom: 0;
        margin: auto 0;
        left: 0;
      }
    }
  }

  &__buttonWrap {
    display: none;

    @include mq(lap) {
      display: flex;
      justify-content: space-between;
    }

    &>a {
      display: block;

      @include mq(lap) {
        width: calc(50% - 0.75rem);
      }

      @include mq(l-lap) {
        width: calc(50% - 1.75rem);
      }

      &:last-child {
        margin-top: 1rem;

        @include mq(lap) {
          margin-top: 0;
        }
      }
    }
  }

  &__under {
    margin-top: 3rem;

    @include mq(lap) {
      margin-top: 4rem;
    }

    &-item {
      margin: 1rem auto;
      display: flex;
      justify-content: center;
      align-items: center;

      @include mq(lap) {
        margin: 1rem auto 1.5rem;
        padding: 1.5rem;
        background-color: #f8f8f8;
        justify-content: space-between;
      }

      &>figure {
        width: 40%;
        margin-right: 0.5rem;

        @include mq(lap) {
          width: auto;
          margin-right: 1rem;
        }

        img {
          @include mq(lap) {
            max-height: 176px;
            object-fit: cover;
          }
        }
      }
    }

    &-itemDetail {
      width: 60%;

      @include mq(lap) {
        width: 80%;
      }

      h3 {
        border-bottom: 1px solid $primary-text-color;
        padding-bottom: 5px;
        font-size: 1.14286rem;

        @include mq(lap) {
          font-size:1.714288rem;
          padding-bottom: 8px;
        }

        input {
        font-size: 1.285711rem;

          padding-bottom: 3px;
          border: none;
          width: 100%;
          font-weight: 700;

          @include mq(lap) {
            font-size:1.714288rem;
          }
        }
      }

      dl {
        display: flex;

        border-top: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;

        dt,
        dd {
          padding: 3px;
          font-size: 0.86rem;

          @include mq(lap) {
            padding: 0.5rem 1rem;
            font-size: 1rem;;
          }
        }

        dt {
          font-weight: 500;
          background-color: #ebebeb;
          width: 40%;
        }

        dd {
          width: 60%;
          background-color: $color-white;
        }
      }
    }

    &-itemDetailInner {
      margin-top: 1rem;
      border-bottom: 1px solid #e8e8e8;

      @include mq(lap) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      input {
        width: 100%;
        border: none;

        &.price {
          width: 50%;
        }
      }
      
    }
  }

  &__relation {
    &.l-spacer{
      padding-top: 3rem;
    }
    &-inner {
      overflow: hidden;
    }
  }
}

.button-wrap {
  &.-buy {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    background-color: $color-white;
    padding: 1rem;
    border-top: 1px solid #ddd;

    @include mq(lap) {
      position: static;
      border: none;
      width: auto;
    }

    .inner {
      &>a:last-child {
        margin-top: 1rem;

        @include mq(lap) {
          margin-top: 1.25rem;
        }
      }
    }
  }
  
  &.-rental {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    background-color: $color-white;
    padding: 1rem;
    border-top: 1px solid #ddd;

    @include mq(lap) {
      position: static;
      border: none;
      width: auto;
    }

    .inner {
      &>a:last-child {
        margin-top: 1rem;

        @include mq(lap) {
          margin-top: 1.25rem;
        }
      }
    }
  }
}


.single-rental{
  .p-single__content{
    margin-bottom: 0;
    .modal-mainInner{
      margin: 0 auto;
      width: 90%;
      margin-bottom: 2rem;
      @include mq(lap) {
        width: 100%;        
      }
    }
  }
}
.single-buy{
  .l-under {
    padding: 2.5rem 0 2rem;
    @include mq(lap) {
      padding: 4.5rem 0 4rem;
    }
  }
}
.single-rental{
  .l-under {
    padding: 2.5rem 0 2rem;
    @include mq(lap) {
      padding: 2.5rem 0 4rem;
    }
  }
}