@use "sass:math";
/*
  sub
*/

.p-sub {
  &__description {
    padding-top: 2rem;
    font-size: 1rem;
    @include mq(lap) {
      padding-top: 2.5rem;
      font-size: 1.14286rem;
    }

    a {
      color: $accent-color;
      display: inline-block;

      &:hover {
        opacity: 0.5;
      }
    }

    &.is-hide {
      opacity: 0;
      visibility: hidden;
      padding: 0;
      height: 0;

      @include mq(lap) {
        height: 100%;
      }
    }
  }

  &__repairTab-contents {
    margin-top: 2rem;

    @include mq(lap) {
      margin-top: 3rem;
    }

    h3 {
      text-align: center;
      font-weight: 700;
    font-size: 1.285711rem;

      @include mq(lap) {
        font-size:1.714288rem;
      }
    }

    .note {
      padding: 1rem;
      background-color: #fef7f2;
      margin-top: 1.5rem;

      @include mq(lap) {
        display: flex;
        margin-top: 2rem;
        padding: 1rem 2rem;
      }

      em {
        color: $accent-color;
        font-weight: 700;
        display: inline-block;
        margin: 0 0 0.25rem 0;

        @include mq(lap) {
          display: flex;
          margin: 0 1rem 0 0;
        }
      }

      p {}
    }
  }

  &__bannerWrap {
    margin-top: 3rem;

    @include mq(lap) {
      margin-top: 6rem;
    }
  }

  &__banner {
    margin: 0 auto;
    width: 100%;
    max-width: 1040px;
    background: url(../../assets/images/under/banner-sp.jpg) no-repeat;
    background-size: cover;
    padding: 2rem 1rem;    
    font-size: 1rem;


    @include mq(lap) {
      padding: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: url(../../assets/images/under/banner-pc.jpg) no-repeat;
      background-size: cover;
    }

    .text-wrap {
      @include mq(lap) {
        width: 50%;
      }
    }

    h3,
    p {
      color: $color-white;
    }

    h3 {
      font-weight: 700;
      margin-bottom: 0.5rem;

      @include mq(lap) {
      font-size: 1.285711rem;
      }

      @include mq(l-lap) {
        font-size:1.714288rem;
      }
    }

    .button-wrap {
      margin-top: 1.5rem;

      @include mq(lap) {
        width: 45%;
        margin-top: 0;
      }
    }
  }

  &.tokusyou {
    dl {
      border-bottom: 1px solid $color-gray2;
      padding-bottom: 1.25rem;

      @include mq(lap) {
        padding-bottom: 1.25rem;
        display: flex;
        justify-content: space-between;
      }

      dt {
        font-weight: 700;

        @include mq(lap) {
          width: 30%;
          margin-right: 1rem;
        }
      }

      dd {
        // margin-top: 3px;

        @include mq(lap) {
          width: 70%;
        }

        .note {
          display: block;
          font-size: 12px;
          margin-top: 5px;
        }
      }

      &:not(:first-child) {
        padding-top: 1.25rem;

        @include mq(lap) {
          padding-top: 1.25rem;
        }
      }
    }
  }

  &.terms {
    h3 {
      font-size: 1.25rem;
      font-weight: 700;
      margin-top: 2rem;

      @include mq(lap) {
        font-size:1.714288rem;
        margin-top: 3rem;
      }
    }

    .main-description {
      margin-top: 1.5rem;

      @include mq(lap) {
        margin-top: 1.5rem;
      }
    }

    .box {
      margin-top: 3rem;

      @include mq(lap) {
        margin-top: 4rem;
      }

      h4 {
        font-size: 1.14286rem;
        font-weight: 700;

        @include mq(lap) {
        font-size: 1.285711rem;
        }
      }

      dl {
        margin-top: 2rem;

        @include mq(lap) {
          margin-top: 2.25rem;
        }

        dt {
          font-size: 1.14286rem;
          border-bottom: 1px solid $color-lightGray;
          padding-bottom: 8px;
          margin-bottom: 12px;

          @include mq(lap) {
            padding-bottom: 10px;
            margin-bottom: 1.25rem;
          }
        }

        dd {
          font-size: 1rem;;

          &>ul {
            counter-reset: item;

            &>li {
              text-indent: -1.5em;
              padding-left: 1.5em;

              &::before {
                counter-increment: item;
                content: counter(item) ".";
                padding-right: 0.5em;
              }

              &:not(:first-child) {
                margin-top: 10px;

                @include mq(lap) {
                  margin-top: 1rem;
                }
              }

              &>ul {
                margin-top: 10px;

                // text-indent: -1.5em;
                // padding-left: 1.5em;
                @include mq(lap) {
                  margin-top: 1rem;
                }

                &>li {
                  margin-top: 8px;

                  @include mq(lap) {
                    margin-top: 10px;
                  }
                }
              }
            }
          }

          &>div {
            &>p {
              margin-top: 10px;
            }
          }
        }
      }
    }

    .day {
      margin-top: 2rem;
      color: #4c4c4c;

      @include mq(lap) {
        margin-top: 3rem;
      }
    }
  }

  &.privacy {
    border: 1px solid $color-lightGray;
    padding: 1rem;

    @include mq(lap) {
      padding: 3rem;
    }

    a {
      color: $accent-color;
      text-decoration: none;

      &:hover {
        opacity: 0.5;
      }

      &[target="_blank"] {
        &:after {
          @include icoInline();
          width: 15px;
          height: 15px;
          margin: 0 7px;
          background: url(../../assets/images/common/i_blank_bk.svg) no-repeat;
          background-size: 15px;
        }
      }
    }
  }

  &.modal-page {
    margin: 0 auto;

    @include mq(lap) {
      max-width: 800px;
    }

    h3 {
      text-align: center;
      font-size: 1.25rem;
      margin-bottom: 1.5rem;

      @include mq(lap) {
        margin-bottom: 2rem;
        font-size: 2.2rem;
      }
    }

    &>p {
      margin: 1.5rem 0;

      @include mq(lap) {
        margin: 2rem 0;
      }
    }

    a {
      display: inline-block;
      color: $accent-color;

      &[target="_blank"] {
        &:after {
          @include icoInline();
          width: 15px;
          height: 15px;
          margin: 0 7px;
          background: url(../../assets/images/common/i_blank_bk.svg) no-repeat;
          background-size: 15px;
        }
      }
    }

    dl {
      dd {
        a {
          display: inline-block;
          color: $accent-color;
        }
      }
    }

    .box01 {
      display: block;

      margin-top: 1.5rem;

      @include mq(lap) {
        margin-top: 2rem;
      }

      dt {
        font-weight: 700;
      }

      dd {
        margin-top: 5px;

        em {
          font-weight: 700;
        }
      }
    }

    .box02 {
      background-color: #f5f5f5;
      padding: 0.5rem;
      margin-top: 1.5rem;

      @include mq(lap) {
        padding: 1.5rem;
        margin-top: 2rem;
      }

      dl {
        display: block;

        dt {
          display: block;
          width: 100%;
          font-weight: 700;
        }

        dd {
          margin-top: 5px;
          width: 100%;

          em {
            font-weight: 700;
            display: block;
          }
        }
      }
    }

    .box03 {
      background-color: #f5f5f5;
      padding: 0.5rem;
      margin: 1.5rem auto 0;
      width: 100%;
      display: block;

      @include mq(lap) {
        padding: 1.5rem;
        margin: 2rem auto 0;
      }

      width: 100%;

      dt {
        margin-bottom: 1rem;
        width: 100%;
      }

      dd {
        width: 100%;
      }

      ul {
        li {
          margin-top: 10px;

          span {
            font-size: 0.86rem;
            display: block;
          }
        }
      }

      .inner-box {
        margin-top: 1.5rem;

        @include mq(lap) {
          margin-top: 2rem;
        }

        em {
          font-weight: 700;
          margin-bottom: 1rem;
          display: block;
        }

        p {
          margin-top: 1rem;
        }
      }
    }
  }

  &.caution {
    .box {
      margin-top: 1.5rem;

      @include mq(lap) {
        margin-top: 2rem;
      }

      ul {
        li {
          text-indent: -1em;
          padding-left: 1em;

          a {
            color: $accent-color;

            &:hover {
              opacity: 0.5;
            }
          }

          &:not(:first-child) {
            margin-top: 0.5rem;
          }
        }
      }
    }

    .box02 {
      .text {
        margin-bottom: 1rem;
      }

      dl {
        dt {
          font-weight: 700;
          font-size: 1.14286rem;
          padding-bottom: 8px;
          border-bottom: 1px solid #4f4d4d;

          @include mq(lap) {
            font-size: 1.25rem;
          }
        }

        dd {
          margin-top: 1rem;

          &>p {
            margin-bottom: 0.5rem;
          }
        }

        &:not(:first-child) {
          margin-top: 2rem;
        }
      }
    }
  }

  &.-not404 {
    h2 {
      font-size: 2.5rem;
      color: $accent-color;
      font-family: $font-set-en;
      text-align: center;
      margin-bottom: 3rem;
      font-weight: 700;

      @include mq(lap) {
        font-size: 5rem;
      }
    }

    em {
      color: $primary-text-color;
    font-size: 1.285711rem;
      display: block;
      font-weight: normal;
      font-weight: 500;

      @include mq(lap) {
        font-size: 2.2rem;
      }
    }

    span {
      color: $primary-text-color;
      display: block;
      font-weight: 700;
      font-size: 1rem;;
      margin-top: 15px;
      line-height: 1.25;

      @include mq(lap) {
        font-size: 1.14286rem;
      }

      span {
        font-weight: 700;
        font-family: $font-set-en;
        display: inline-block;
      }
    }

    .form404 {
      font-size: 1.14286rem;
      margin-bottom: 2rem;

      @include mq(lap) {
        margin-bottom: 3rem;
      }

      p {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1rem;;

        @include mq(lap) {
          font-size: 1.14286rem;
        }
      }

      .form {
        width: 100%;
        margin: 0 auto;

        @include mq(lap) {
          width: 80%;
        }

        .searchform input {
          padding: 1.75rem 1rem;
        }
      }
    }
  }
}