@use "sass:math";

/*
  Button
*/
.c-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  text-align: center;
  appearance: none;
  transition: opacity 0.3s ease-in-out;
  font-size: 1rem;

  @include mq(lap) {
    font-size: 1.285711rem;
  }

  &:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
  }

  &.-sould,
  &.-rental {
    color: $color-white;
    background-color: #3e3a39;
    font-weight: 700;
    pointer-events: none;
  }

  &.-orange {
    color: $color-white;
    background-color: $accent-color;
    font-weight: 700;
  }

  &.-gray {
    color: $color-gray;
    background-color: $color-lightGray;
    border: 1px solid #d0d0d0;
  }

  &.-buyOrange {
    display: block;
    padding: 1rem;
  }

  &.-buyGray {
    display: block;
    padding: 0.25rem;
  }

  &.-single {
    padding: 1rem;

    @include mq(lap) {
      padding: 1.5rem;
    }
  }

  &.-main {
    padding: 1rem;
    width: 100%;

    @include mq(lap) {
      padding: 1.5rem;
      max-width: 420px;
      margin: 0 auto;
    }
  }

  &.-sub {
    padding: 1rem;
    width: 100%;

    @include mq(lap) {
      padding: 1rem;
    }
  }

  &.-arrow-white {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 2rem;
      top: 0;
      bottom: 0;
      margin: auto 0;
      background: url(../../assets/images/common/arrow-white.svg) no-repeat;
      background-size: contain;
      width: 11px;
      height: 9px;
    }
  }

  &.-arrow-gray {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 2rem;
      top: 0;
      bottom: 0;
      margin: auto 0;
      background: url(../../assets/images/common/arrow-gray.svg) no-repeat;
      background-size: contain;
      width: 11px;
      height: 9px;
    }

    &.-right {
      &::before {
        right: 2rem;
        left: auto;
        transform: rotate(-90deg);
      }
    }
  }

  &.-text {
    color: $accent-color;
    margin-top: 1rem;
    display: block;
    text-align: right;
    letter-spacing: 0.15rem;
    position: relative;
    padding-right: 1rem;
    font-size: 1rem;

    @include mq(lap) {
      margin-top: 2rem;    
      font-size: 1.285711rem;
    }

    &:hover {
      opacity: 0.5;
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      background: url(../../assets/images/common/arrow-orange.svg) no-repeat;
      background-size: contain;
      width: 11px;
      height: 9px;
    }
  }

  &.button-contact {
    border: 1px solid #fff;
    padding: 0.75rem 1.5rem;
    width: 100%;
    max-width: 200px;
    border-radius: 50px;
  }

  &.-mainUnder {
    position: absolute;
    right: 20px;
    z-index: 10;
    margin-top: -3rem;
    bottom: initial;
    top: 0;

    @include mq(lap) {
      right: 5%;
      margin-top: -3.75rem;
      // bottom: 2.5rem;
      // top: initial;
    }
  }

  &.-rental-down {
    &.-rental-down {
      &::before {
        transform: rotate(90deg);
      }
    }
  }
}