@use "sass:math";
/*
  under
*/

.l-under {
  padding: 4rem 0 5rem;
  background-color: $color-white;
  position: relative;

  @include mq(lap) {
    padding: 6.5rem 0 8rem;
  }

  &.-sub {
    padding: 0 0 3rem;
    background-color: $color-white;

    @include mq(lap) {
      padding:0 0 7.5rem 0;
    }
  }

  &.-conteact {
    padding: 4rem 0;

    @include mq(lap) {
      padding: 8.5rem 0;
    }
  }

  &__buttonWrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 10;

    @include mq(lap) {
      display: none;
    }

    &.is-active {
      transition: opacity 0.3s ease-in-out;
      opacity: 1;
      visibility: visible;
    }

    &.is-fixed {
      position: relative;
      // bottom: -5rem;
    }
  }

  &.-gray {
    background-color: $base-color;
  }

  &.-beige {
    background-color: $color-beige;
  }
}