



.c-card__head{
  width: 35%;
}

.c-card__head.is-change{
  width: 100%;
}

.c-card__thumbnail{
  height: 100%;
}

.c-card__thumbnail.is-change{
  width: 100%;
  object-fit: cover;
  max-height: 450px;
}

.c-card__head img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-card .effect.-sould{
  font-size: .75rem;
}

.c-card .effect.is-change{
  font-size:1.714288rem;
}

.p-seek__listItem.-card{
  width: 100%;
}

.p-seek__listItem.-card .c-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #3e3a39;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row
}

.p-seek__listItem.-card .c-card.is-change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 100%
}

.p-seek__listItem.-card .c-card__body {
  height: 100%;
  padding: .5rem .5rem .5rem 1rem;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-left: 0;
  height: inherit;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.p-seek__listItem.-card .c-card__body.is-change{
  width: 100%;
  border-left: 1px solid #ccc;
  border-top: 0;
}

.p-seek__listItem.-card .c-card .price .cat em{
  font-size:1.714288rem;
}

.p-seek__listItem.-card .c-card .price .cat em.is-change{
  font-size: 1.25rem;
}



@media screen and (min-width: 375px) {
  .p-seek__list.-card.is-change {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 20px
  }
  .p-seek__listItem.-card.is-change {
    width: calc(50% - 10px);
  }

}

@media screen and (max-width: 767px) {

  .c-card__body .price-wrap{
    display: block;
  }
  .c-card__body .price-wrap.is-change{
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .c-card__body .price-wrap{
    display: block;
  }
  .p-seek__listItem.-card{
    width: calc(50% - 10px);
  }
  .c-card__body .price-wrap.is-change{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

  }

}

@media screen and (min-width: 1200px) {
  .p-seek__list.-card{
    gap:20px;
  }
  .p-seek__listItem.-card.is-change{
    width: calc(24% - 10px);
  }
  .p-seek__list.-card.is-change{
    /* gap: 30px; */
  }
}
