@use "sass:math";
/*
  Card
*/

.c-card {
  display: block;
  color: inherit;
  text-decoration: none;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: $box-shadow;

    .c-card__body {
      &::after {
        transform: scale(1, 1);
        transform-origin: left top;
      }
    }
  }

  &__head {
    position: relative;

    &.is-change {
      width: 35%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &.-rental {
      border: 1px solid $color-gray2;
    }
  }

  &__thumbnail {
    &.is-change {
      height: 100%;
    }

    &.-rental {
      img {
        max-height: 100%;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
      max-height: 300px;

      &.is-change {
        height: inherit;
        max-height: auto;
      }
    }
  }

  &__body {
    // background-color: $color-white;
    // padding: 0.8rem 1.25rem 1.25rem;
    // border-left: 1px solid $color-gray2;
    // border-bottom: 1px solid $color-gray2;
    // border-right: 1px solid $color-gray2;
    // position: relative;

    // height: inherit;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
      background-color: #fff;
      padding: 0.8rem 1.25rem 1rem;
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
      position: relative;
      height: inherit;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $accent-color;
      display: inline-block;
      transform: scale(0, 1);
      transform-origin: right top;
      transition: transform 0.3s ease-in-out;
    }

    .maker {
      font-size: 1rem;;
      display: inline-block;

      @include mq(lap) {
        font-size: 1rem;;
      }
    }

    .cat-wrap {
      margin-top: 0.5rem;

      span {
        display: inline-block;
        font-size: 0.86rem;

        @include mq(lap) {
          font-size: 1rem;;
          line-height: 1.3;
        }

        &:not(:last-child) {
          margin-right: 5px;
        }

        &.is-change {
          font-size: 0.86rem;

          @include mq(lap) {
            font-size: 1rem;
            line-height: 1.3;
          }
        }
      }
    }

    .price-wrap {
      display: flex;
      align-items: center;
      position: relative;
      margin: 7px 0 20px;

      @include mq(s-sp) {
        display: block;
      }

      @include mq(lap) {
        display: block;
        margin: 16px 0 12px;
      }

      &.is-change {
        position: relative;
        margin-top: 10px;
        display: block;

        @include mq(s-sp) {
          display: block;
          margin: 10px 0 0 0;
        }
      }

      @include mq(tab) {
        display: flex;
        align-items: center;
      }

      .price {
        padding-right: 10px;
        @include mq(s-sp) {
          padding-right: 1.25rem;
        }
        @include mq(tab) {
          padding-right: 1rem;
        }
        &.-cam {
          // padding-left: 10px;
          position: relative;

          @include mq(s-sp) {
            // padding-left: 1.25rem;
          }

          @include mq(tab) {
            // padding-left: 2rem;
          }

          // &::before {
          //   content: "";
          //   position: absolute;
          //   display: inline-block;
          //   top: 0;
          //   bottom: 0;
          //   margin: auto 0;
          //   left: 3px;
          //   width: 0;
          //   height: 0;
          //   border-style: solid;
          //   border-width: 8px 0 8px 13.9px;
          //   border-color: transparent transparent transparent $accent-color;

          //   @include mq(s-sp) {
          //     display: none;
          //   }
          //   @include mq(tab) {
          //     display: inline-block;
          //     left: 8px;
          //   }
          // }

          // &.is-change {
          //   &::before {
          //     display: none;
          //   }
          // }
        }

        &.-cam-top {
          padding-left: 0;
        }
      }
    }

    .price {
      &.-cam {
        color: $accent-color;
        position: relative;
      }

      .cat {
        line-height: 1.5;

        &-text {
          display: block;

          font-size: 0.86rem;
        }

        em {
          font-weight: 700;
          font-size:1.714288rem;

          @include mq(lap) {
            font-size: 2.2rem;
          }
        }

        .yen {
          font-size: 0.86rem;
          font-weight: 700;

          @include mq(lap) {
            font-size: 1.25rem;
          }
        }
      }
    }

    p.button {
      color: $accent-color;
      margin-top: 5px;
      font-size: 1rem;;
      font-family: $font-set-en;
      letter-spacing: 0.1rem;
    }

    &.-bodyA {
      padding: 0.25rem 0 0 0;
      border: none;

      @include mq(lap) {
        padding: 0.5rem 0 0 0;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1.14286rem;
    line-height: 1.4;
    // margin-top: 0.25rem;

    @include mq(lap) {
      font-size: 1.14286rem;
    }

    &.-sub {
      text-align: center;
    font-size: 1.285711rem;
      margin: 0 0 0.75rem 0;

      @include mq(lap) {
        margin: 1rem 0;
        font-size: 1rem;;
      }

      @include mq(desk) {
        font-size: 1.25rem;
      }

      @include mq(l-lap) {
        font-size:1.714288rem;
      }

      em {
        color: $accent-color;
      }
    }

    &.-repair {
      font-weight: 700;
      text-align: center;
      margin: 0 0 0.75rem 0;

      @include mq(l-lap) {
        font-size: 1.14286rem;
        margin: 1rem 0 1.5rem 0;
      }
    }

    &.is-change {
      font-size: 1.14286rem;

      @include mq(lap) {
        font-size: 1.14286rem;
      }
    }
  }

  &__list {
    padding-top: 2rem;

    @include mq(lap) {
      padding-top: 3rem;
    }

    @include mq(lap) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &.-listA {
      padding-top: 4rem;

      @include mq(lap) {
        padding-top: 2.5rem;
      }
    }

    &.-listB {
      @include mq(lap) {
        margin-top: -0.75rem;
      }

      @include mq(l-lap) {
        margin-top: -1.5rem;
      }
    }

    &.-listC {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 2rem;
      padding-top: 0;

      @include mq(lap) {
        margin: -30px 0 3rem;
        padding-top: 2rem;
      }
    }
  }

  &__item {
    background-color: #fff;
    border: 1px solid #e8e8e8;

    @include mq(lap) {
      // display: flex;
      // justify-content: space-between;
    }

    &:not(:first-child) {
      margin-top: 1.25rem;

      @include mq(lap) {
        margin-top: 0;
      }
    }

    &.-itemA {
      padding: 1.75rem 1.25rem;

      @include mq(lap) {
        width: calc(33.3% - 0.5rem);
      }

      @include mq(l-lap) {
        width: calc(33.3% - 15px);
      }
    }

    &.-itemB {
      padding: 1.75rem 1.25rem;

      @include mq(lap) {
        width: calc(33.3% - 15px);
        margin-top: 30px;
      }
    }

    &.-itemC {
      border: none;
      width: calc(50% - 0.5rem);
      margin-top: 1.5rem;

      @include mq(lap) {
        width: calc(25% - 15px);
        margin-top: 30px;
      }
    }

    .number {
      color: $color-lightOrange;
      font-family: $font-set-en;
      font-weight: 300;
      text-align: center;
      display: block;
      line-height: 1.5;
      font-size: 2.5rem;

      @include mq(l-lap) {
        font-size: 3rem;
      }
    }

    figure {
      text-align: center;
    }
  }

  &__description {
    font-size: 1rem;
    @include mq(lap) {
      font-size: 1.14286rem;
    }
    em {
      font-weight: bold;
      background: linear-gradient($color-lightOrange) no-repeat;
      background-position: bottom left;
      background-size: 100% 30%;
    }

    .line {
      background: linear-gradient($color-lightOrange) no-repeat;
      background-position: bottom left;
      background-size: 100% 30%;
      font-weight: 500;
    }
  }

  .rental-content {
    color: #4c4c4c;
    margin-top: 10px;
  }
}

.c-card {
  .effect {
    position: absolute;
    font-weight: 700;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1rem;
    text-align: center;

    &.-new {
      color: $color-white;
      background-color: $color-red;
      width: 3rem;
      height: 3rem;
      font-size: 0.86rem;

      @include mq(lap) {
        width: 4.5rem;
        height: 4.5rem;
        font-size: 1rem;;
      }
    }

    &.-oppo {
      color: $color-white;
      background-color: #3e3a39;
      width: 3rem;
      height: 3rem;
      font-size: 0.86rem;

      @include mq(lap) {
        width: 4.5rem;
        height: 4.5rem;
        font-size: 1rem;;
      }
    }

    &.-sould {
      color: #c1c1c1;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      font-size:1.714288rem;
      font-family: $font-set-en;

      @include mq(lap) {
        font-size: 2.5rem;
      }
    }

    &.-rental {
      color: #c1c1c1;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      font-size: 1.14286rem;
      font-family: $font-set-en;

      @include mq(tab) {
        font-size: 1.25rem;
      }

      @include mq(lap) {
        font-size: 1.714288rem;
      }
    }

    &.is-change {
      font-size: 0.86rem;

      @include mq(tab) {
        font-size: 1rem;;
      }

      &.-new {
        color: $color-white;
        background-color: $color-red;
        //width: 4rem;
        //height: 2rem;
        width: 3rem;
        height: 3rem;
        font-size: 0.86rem;

        @include mq(lap) {
          width: 4.5rem;
          height: 4.5rem;
          font-size: 1rem;;
        }
      }

      &.-oppo {
        color: $color-white;
        background-color: #3e3a39;
        //width: 4rem;
        //height: 2rem;
        width: 3rem;
        height: 3rem;
        font-size: 0.86rem;

        @include mq(lap) {
          width: 4.5rem;
          height: 4.5rem;
          font-size: 1rem;;
        }
      }
    }
  }
}

.c-card__body .price-wrap .price .cat em {
  &.is-change {
    font-size: 1.14286rem;

    @include mq(sp) {
      font-size: 1.14286rem;
    }

    @include mq(tab) {
      font-size: 1.14286rem;
    }

    @include mq(lap) {
      font-size: 2.2rem;
    }

    @include mq(l-lap) {
      font-size: 2.2rem;
    }
  }
}