@use "sass:math";
/*
  seek
*/
.-seek{
  .c-seek {
    border: solid 1px #ababab;
  }
}
.c-seek {
  &.-under {
    background-color: $base-color;
    padding: 0 1rem;
    margin: 1.75rem 0 1.75rem;

    @include mq(lap) {
      padding: 0 2rem;
      margin: 3.5rem 0 3.5rem;
    }

    @include mq(l-lap) {
      padding: 0 3rem;
    }

    h3 {
      transition: transform 0.3s ease-in-out;
      position: relative;

      &.is-close {
        @include mq(lap) {
          // margin-bottom: -1rem;
          transition: margin 0.3s ease-in-out;
          // padding: 2rem 0;
        }
      }

      i {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        background-image: url(../images/common/toggle_btn.svg);
        background-size: cover;
        transition: 0.5s;
        @include mq(lap) {
          width: 2.7rem;
          height: 2.7rem;
        }
        &.is-active{
          transform: rotate(180deg);
        }
        &:hover {
          scale: 1.1;
          // &::before {
          //   transform: translate(-50%, -50%) rotate(90deg);
          // }

          // &::after {
          //   transform: translate(-50%, -50%) rotate(180deg);
          // }
        }

        // &::before,
        // &::after {
        //   position: absolute;
        //   content: "";

        //   background-color: $primary-text-color;
        //   width: 1rem;
        //   height: 2px;
        //   transition: transform 0.3s ease-in-out;
        // }
        // &::before {
        //   top: 50%;
        //   left: 50%;
        //   transform: translate(-50%, -50%);
        // }
        // &::after {
        //   top: 50%;
        //   left: 50%;
        //   transform: translate(-50%, -50%) rotate(90deg);
        // }
      }
    }

    &.ohter-section {
      margin: 0;
      padding: 0 0 1rem;
      background-color: $base-color;

      @include mq(lap) {
        padding: 0 0 3rem;
      }
    }
  }

  &__content {
    @include mq(desk) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    &.-top {
      position: relative;
      padding-top: 2rem;
      padding-bottom: 2rem;

      @include mq(lap) {
        padding-bottom: 2rem;
      }

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $color-lightGray;
        left: 0;
        bottom: 0;

        @include mq(tab) {}
      }
    }

    // &.-bottom {
    //   padding-top: 2rem;

    //   @include mq(lap) {
    //     padding-top: 2rem;
    //   }
    // }

    &-title {
      font-weight: 700;
      font-size: 1.14286rem;
      margin-bottom: 1rem;

      @include mq(lap) {
        width: 100%;
      }

      @include mq(desk) {
        width: 18%;
        margin-bottom: 0;
      }
    }

    &-block {
      @include mq(lap) {
        width: 100%;
      }

      @include mq(desk) {
        width: 80%;
      }

      &.-blockB {
        display: flex;
        flex-direction: column-reverse;

        @include mq(lap) {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }

  &__inner{
    &--sec{
      padding: 1rem 0;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #f2f2f2;
        left: 0;
        bottom: 0;
      }
      &.-price{
        dd{
          width: 100%;
          @include mq(desk) {
            width: 80%;
          }
          .c-seek__word-list{
            width: 100%;
          }
        }
      }
      &.-industry{
        dd{
          width: 100%;
          @include mq(desk) {
            width: 80%;
          }
          .c-seek__word-list{
            width: 100%;
          }
        }
        &::before {
          all: initial;
        }
      }
    }
  }

  &__maker-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    @include mq(lap) {
      grid-template-columns: repeat(8, 1fr);
      gap: 10px 0;
    }
  }

  &__maker-list-rental {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    @include mq(lap) {
      grid-template-columns: repeat(8, 1fr);
      gap: 10px 0;
    }

    .c-seek__maker-item {
      @include mq(lap) {
        width: 100%;
      }
    }
  }

  &__maker-item {
    background-color: $color-white;
    position: relative;
    border: 1px solid $color-gray2;

    cursor: pointer;

    @include mq(lap) {
      width: 100%;

      &:hover {
        a {
          font-weight: 700;
          color: $accent-color;
        }

        &::after {
          transform: scale(1, 1);
          transform-origin: left top;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $accent-color;
      display: inline-block;
      transform: scale(0, 1);
      transform-origin: right top;
      transition: transform 0.3s ease-in-out;
    }

    a {
      text-decoration: none;
      color: $primary-text-color;
      text-align: center;
      width: 100%;
      min-height: 86px;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;

      @include mq(lap) {
        min-height: 120px;
        padding: 0.25rem;
      }

      figure {
        width: 80%;
        margin: 0 auto;

        @include mq(lap) {
          width: 100%;
        }
      }

      span {
        font-size: 0.86rem;

        @include mq(lap) {
          font-size: 0.86rem;
        }
      }
    }
  }

  &__word-list-rental {
    @include mq(lap) {
      margin-top: -12px;
      width: 100%;
    }

    .c-seek__word-item:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__word-list {
    font-size: 1rem;

    @include mq(lap) {
      width: 55%;
      font-size: 1rem;
    }

    .c-seek__word-item:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__word-h{
    margin-top: 3px;
    margin-left: -9px;
    font-weight: 600;
    
    color: $primary-text-color;
    display: block;

    @include mq(lap) {
      font-size: 1rem;;
    }

    @include mq(l-lap) {
      font-size: 1.14286rem;
    }

  }

  &__word-item {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 6px;

    @include mq(lap) {
    }

    a {
      color: $primary-text-color;
      display: block;

      @include mq(lap) {
        font-size: 1rem;;
      }

      @include mq(l-lap) {
        font-size: 1.14286rem;
      }

      &:hover {
        color: $accent-color;
      }
    }
  }

  &__seach-block {
    max-width: 100%;   
    margin-bottom: 0.7rem;

    @include mq(lap) {
      max-width: 380px;
      width: 40%;
      margin-left: 1rem;
      margin-bottom: 0rem;
    }
  }

  &__resultText {
    font-size: 1.14286rem;
    margin: 1rem 0;
    color: #666666;

    @include mq(lap) {
      font-size: 1.714288rem;
      margin: 2rem 0;
    }

    span {
      &.is-remove {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.c-seek__innerWrap {
  &.is-close {
    display: none;
  }
}

.c-seek {
  &.ohter-section {
    .c-heading {
      padding-top: 1rem;
    }
  }
}