@media screen and (min-width: 1024px) {
  .swiper-slide.-info a img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 314px;
  }
}
/* .p-news__listContent > a{display:inline!important} */
/* .p-news__listContent > p:not(first-child){display:none!important} */
.wp-block-image img{height:auto!important}


